<mat-card class="product-card">
  <mat-card-header>
    <div class="header-container">
      <button mat-icon-button (click)="backToProductsList()" class="back-button">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <mat-card-title> {{contextName}} Producto</mat-card-title>
    </div>

  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="productForm" (ngSubmit)="coordinateUpsert()" >
      <div class="form-row">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name" required>
          <mat-error *ngIf="productForm.get('name')?.hasError('required')">
            El nombre es requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Precio</mat-label>
          <input matInput type="number" formControlName="price" required>
          <span matPrefix>$&nbsp;</span>
          <mat-error *ngIf="productForm.get('price')?.hasError('required')">
            El precio es requerido
          </mat-error>
          <mat-error *ngIf="productForm.get('price')?.hasError('min')">
            El precio debe ser positivo
          </mat-error>
        </mat-form-field>
      </div>



      <mat-form-field appearance="outline" class="form-field-full">
        <mat-label>Descripción</mat-label>
        <textarea matInput formControlName="description" rows="3" required></textarea>
        <mat-error *ngIf="productForm.get('description')?.hasError('required')">
          La descripción es requerida
        </mat-error>
      </mat-form-field>

      <div class="form-row">
        <mat-checkbox formControlName="isAvailable">Disponible</mat-checkbox>
      </div>

      <div class="form-actions">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="productForm.invalid"
        >
          <mat-icon>save</mat-icon> Guardar
        </button>

        <button
          mat-button
          type="button"
          (click)="productForm.reset()"
        >
          Limpiar
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
