<div class="products-container">
  <mat-card class="product-card">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>inventory_2</mat-icon>
        Gestión de Productos
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="controls-section">

        <div class="action-section">
            <button mat-raised-button color="primary" >
                <mat-icon>add</mat-icon>
                <span class="button-text">Agregar Producto</span>
            </button>
        </div>

      </div>

      <!-- Product list desktop view-->
       <div class="desktop-view" *ngIf="!isMobileView">
        <mat-table [dataSource]="products" matSort class="products-table">
          <!--id-->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
            <mat-cell *matCellDef="let product"> {{product.id}} </mat-cell>
          </ng-container>

          <!--product-name -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre del Producto</mat-header-cell>
            <mat-cell *matCellDef="let product"> {{product.name}} </mat-cell>
          </ng-container>

          <!--description-->
          <ng-container >
            <ng-container matColumnDef="description">Descripcion</ng-container>
            <mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</mat-header-cell>
            <mat-cell *matCellDef="let product"> {{product.description}} </mat-cell>
          </ng-container>

          <!--price-->
          <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Precio</mat-header-cell>
            <mat-cell *matCellDef="let product"> {{product.price | currency}} </mat-cell>
          </ng-container>

          <!--is Available?-->
          <ng-container matColumnDef="isAvailable">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Disponible</mat-header-cell>
            <mat-cell *matCellDef="let product"> {{product.isAvailable ? 'Sí' : 'No'}} </mat-cell>
          </ng-container>

          <!--actions-->
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
            <mat-cell *matCellDef="let product">
              <button mat-icon-button color="primary" >
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" >
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
       </div>

       <!--movile View-->
    </mat-card-content>
  </mat-card>
</div>
